AIRTABLE_TOKEN=your_airtable_token
AIRTABLE_BASE_ID=appTIJZEGgh26q9Wf
REVOLUT_SECRET_KEY=your_revolut_secret_key
REVOLUT_WEBHOOK_SECRET=your_revolut_webhook_secret
RESEND_API_KEY=your_resend_api_key
EMAIL_FROM=bookings@mmedinburghtransfers.com
EMAIL_MAREK=marek@mmedinburghtransfers.com
PORT=3000
